# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache


# Homestead
Homestead.json
Homestead.yaml


# PHP tools
.phpactor.json
/auth.json


# IDE / OS
/.idea
/.vscode
/.cursor
/.DS_Store
Thumbs.db
/.fleet
/.nova
/.zed


# npm / yarn
npm-debug.log*
yarn-error.log*
pnpm-debug.log*


# Vite / Build
/dist
/.vite


# Logs
/storage/logs/*.log
*.log


# Laravel Mix (اگر استفاده شده)
/public/mix-manifest.json
/public/css/*.css
/public/js/*.js
/public/js/*.map
/public/css/*.map


# Optional: cache & compiled files
# /bootstrap/cache/*.php
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
!/bootstrap/cache/packages.php
!/bootstrap/cache/services.php


# Ignore backup files
*.bak
*.tmp