# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache
/bootstrap/cache/*.php


# Homestead
Homestead.json
Homestead.yaml


# PHP tools
.phpactor.json
/auth.json


# IDE / OS
/.idea
/.vscode
/.DS_Store
Thumbs.db
/.fleet
/.nova
/.zed


# npm / yarn
npm-debug.log*
yarn-error.log*
pnpm-debug.log*


# Vite / Build
/dist
/.vite


# Logs
/storage/logs/*.log
*.log


# Laravel Mix (اگر استفاده شده)
/public/mix-manifest.json
/public/css/*.css
/public/js/*.js
/public/js/*.map
/public/css/*.map


# Optional: cache & compiled files
/bootstrap/cache/*.php


# Ignore backup files
*.bak
*.tmp